<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Hawk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="dashboard-container">
        <aside class="sidebar">
            <a href="{{ url_for('app_blueprint.index') }}" class="logo-link">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="File Hawk Logo">
                </div>
            </a>
            <nav>
                <ul>
                    <li class="group-header">
                        <span>Airflow File Manager</span>
                        <ul class="group-items">
                            <li><a href="{{ url_for('app_blueprint.create_task') }}">Create Task</a></li>
                            <li><a href="{{ url_for('app_blueprint.view_tasks') }}">View Tasks</a></li>
                            <li><a href="{{ url_for('app_blueprint.stats') }}">Stats</a></li>
                        </ul>
                    </li>
                    <li class="group-header">
                        <span>File Archival</span>
                        <ul class="group-items">
                            <li><a href="#">Create an Automation</a></li>
                            <li><a href="#">View Automations</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="main-content">
            <div class="top-bar">
                <span class="page-title">{% block title %}{% endblock %}</span>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

</body>
</html>