<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Hawk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="dashboard-container">
        <aside class="sidebar">
            <a href="{{ url_for('app_blueprint.dashboard') }}" class="logo-link">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="File Hawk Logo">
                </div>
            </a>
            <div class="user-info">
<!--                <h3>{{ username }}</h3>-->
            </div>
            <nav>
                <ul>
                    <li class="group-header">
                        <span>Airflow File Manager</span>
                        <ul class="group-items">
                            <a href="{{ url_for('app_blueprint.create_task') }}">Create Task</a>
                            <a href="{{ url_for('app_blueprint.view_tasks') }}">View Tasks</a>
                            <a href="{{ url_for('app_blueprint.stats') }}">Stats</a>
                        </ul>
                    </li>
                    <li class="group-header">
                        <span>File Archival</span>
                        <ul class="group-items">
                            <a href="{{ url_for('app_blueprint.create_automation') }}">Create an Automation</a>
                            <a href="{{ url_for('app_blueprint.view_automation') }}">View Automations</a>
                        </ul>
                    </li>
                    <li class="group-header"><b><a href="{{ url_for('app_blueprint.update_config') }}">Update Configuration</a></b></li>
                    <li class="group-header"><b><a href="{{ url_for('app_blueprint.audit_logs') }}">Audit Logs</a></b></li>
                    <li class="group-header"><b><a href="{{ url_for('app_blueprint.poc_for_state') }}">Contacts for State</a></b></li>
                </ul>
            </nav>
        </aside>

        <main class="main-content">
            <div class="top-bar">
                <span class="page-title">{% block title %}{% endblock %}</span>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

    <script>
        const groupHeaders = document.querySelectorAll('.group-header');
        groupHeaders.forEach(header => {
            header.addEventListener('click', () => {
                header.classList.toggle('expanded');
            });
        });
    </script>
</body>
</html>